<!DOCTYPE html>
<html lang="en">
<head>
    <title>To-Do List App</title>
</head>
<body>
    <h1>웹 애플리케이션 제작을 위한 To-Do List</h1>

    <ul>
        {% for speaker_item in all_items %}
            <li>{{ speaker_item.content }}
                <form action="/deletespeaker/{{speaker_item.id}}/" style="display: inline;" method="post">{% csrf_token %}
                    <input type="submit", value="delete"/>
                </form>
            </li>
        {% endfor %}
    </ul>
    <form action="/addspeaker/", method="post">{% csrf_token %}
        <input type="text", name="content"/>
        <input type="submit", value="Add"/>
    </form>
</body>
</html>